@model UI.W.Models.GroupUpdate

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>GroupUpdate</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="GroupUpdateId" />
            <div class="form-group">
                <label asp-for="Updatemsg" class="control-label"></label>
                <input asp-for="Updatemsg" class="form-control" />
                <span asp-validation-for="Updatemsg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GroupGoalId" class="control-label"></label>
                <input asp-for="GroupGoalId" class="form-control" />
                <span asp-validation-for="GroupGoalId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdateDate" class="control-label"></label>
                <input asp-for="UpdateDate" class="form-control" />
                <span asp-validation-for="UpdateDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
